Package: com.cookieodd.douyinclearscreen
Name: DouyinClearScreen
Version: 1.0.0
Architecture: iphoneos-arm
Description: 一键隐藏抖音UI元素，提供纯净观看体验。适配抖音 37.6.0
Maintainer: cookieodd
Author: cookieodd <cookieodd@github.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
